* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
    background-color: #5e3a11;
    background-image: url("../images/2ndback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
.main {
    background-color: white;
    width: 70%;
    padding: 2em;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.59), 0 6px 6px rgba(0,0,0,0.73);
}

main {
    padding: 3rem 0 15rem 0;
}

#profilePhoto img {
    display: block;
    max-width: 180px;
    border-radius: 50%;
    margin: 20px auto;
}

.buttonStyle {
    display: block;
    margin: 20px auto;
    box-shadow:inset 0 10px 14px -7px #a6827e;
    background: #7d5d3b linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    border-radius:8px;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:13px 32px;
}
input[type="text"], input[type="email"], input[type="number"], select,
input[type="password"] {
    width: 230px;
    border: 1px solid #4d3534;
    background-color: rgba(245, 245, 245, 0.58);
    padding: 5px;
    border-radius: 8px;
    height: 25px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

div label {
    width: 50%;
    margin-right: 20px;
    color: #4d3534;
}

main form div {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    align-items: center;
    width: inherit;
    margin-bottom: 20px;
}

div input:hover, div textarea:hover, div select:hover,
div input:focus, div select:focus{
    box-shadow: 2px 2px 7px 1px #634b30;
    outline: none;
}

#about {
    resize: none;
    border-radius: 8px;
    border: 1px solid #4d3534;
    padding: 5px;
    font-family: inherit;
    height: 8rem;
    width: 230px;
}

.about {
    padding: 1rem;
}

/* Footer */

.center {
    margin: 0 auto;
    max-width: 75rem;
}

.flex-container {
    display: flex;
}

@media (max-width: 600px) {
    main form div {
        flex-direction: column;
        text-align: center;
        margin: 0 1rem;
        justify-content: center;
        align-items: center;
    }
    .main {
        margin-bottom: 5rem;
    }
    label {
        text-align: unset;
        margin-right: unset;
        padding: 1rem 0;
    }
    fieldset {
        margin-bottom: 1.5rem;
    }
}