* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
    background-color: #5e3a11;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #3d4548;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* Theater screen */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    height: 30rem;
    padding: 1rem;

    position: relative;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;

    position: absolute;
}

.welcome h1 {
    color: white;
    padding-bottom: 2rem;
    text-align: center;
    z-index: 1;
}

.welcome a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 3px;
    background-color: #4dbc15;
    z-index: 1;
}

.welcome a:hover {
    background-color: #44a512;
}

main {
    background-color: #f4f4f4;
    width: 100%;
    padding-bottom: 11rem;
}

.text {
    padding: 4rem 1rem 1rem 1rem;
}

.text p {
    padding-top: 20px;
}

.text span {
    float: right;
    color: #00cdf1;
    cursor: pointer;
}

.text span:hover {
    color: #06b3d6;
}

/* Popular services section */

.popular-services {
    padding: 1rem;
}

.popular-services a {
    max-width: calc(25% - 1rem);
    text-decoration: none;
    color: black;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 3px 2px #ccc;
    transition: 0.1s all ease-in-out;
}

.popular-services a:last-child {
    margin-right: 0;
}

.popular-services a:hover {
    transform: scale(1.1);
}

.popular-services a img{
    width: 100%;
}

.popular-services a p {
    text-align: center;
    padding: 1rem;
}

/* User steps section */

.user-steps .step-description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 1rem;
}

.user-steps h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;
}

.user-steps div img {
    width: 40%;
    filter: contrast(110%);
    color: #666;
    transition: .5s;
    border-radius: 2px;
}

.user-steps div img:hover::before {
    transform: scale(1.2);
    box-shadow: 0 0 35px #f2ae00;
}

.user-steps div img:hover {
    color: #ffee10;
    box-shadow: 0 0 35px #f2ae00;
}

.user-steps div img:before {
    background: #28261a;
    transition: .3s;
    transform: scale(.7);
}

.user-steps div h1 {
    justify-content: flex-end;
    margin-right: 2rem;
    color: #f2ae00;
    font-size: 5.4rem;
    width: 35px;
    font-family: 'Sharp Sans', 'Open Sans', sans-serif;
    font-weight: 400;
}
.user-steps .step-description div {
    width: 40%;
    justify-content: flex-start;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.step-description div p {
    color: #757d88;
    font-size: 1rem;
    line-height: 150%;
    margin-top: 0.7rem;
}

/* Section for professionals */

.section-for-professionals {
    display: block;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 2.5rem;
}

.section-for-professionals img {
    margin-right: 1rem;
}

.section-for-professionals p {
    color: #666;
}

.section-for-professionals a, .section-for-professionals i {
    text-decoration: none;
    font-weight: bold;
    color: #5486a3;
    font-size: 20px;
}

/* Our story section */
.our-story {
    background-color: #c1a57b;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 4rem;
}

.our-story img {
    padding: 2rem;
    max-width: 25%;
    box-shadow: 3px 3px 3px 2px #ccc;
}
.our-story #rotate-left {
    transform: rotate(-15deg);
}

.our-story #rotate-right {
    transform: rotate(15deg);
}

.our-story div {
    width: 40%;
    padding-right: 2rem;
}
/* Team members section */

.team-section {
    background-color: rgba(34, 40, 49, 0.93);
    margin-top: 0;
    padding-top: 2rem;
    color: white;
}

.team-section #team-overview {
    text-align: center;
    letter-spacing: 2px;
}

.team-section #team-overview img {
    width: 50px;
    padding: 2rem 0.5rem 0;
}

.team-section .team-member {
    display: none;
}

.team-section .team-member.active {
    display: flex;
}

.team-section .team-member {
    padding: 2rem 1rem 4rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.team-section .team-member img {
    max-width: 40%;
    margin-top: 2rem;
    animation: member-photo 10s ease-out infinite;
}

.team-section .team-member div {
    width: 55%;
}

.team-member h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
}

.team-section .team-member p {
    font-size: 18px;
    font-style: italic;
    text-align: justify;
}

/* Vetted professionals section */

.vetted-professionals {
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 4rem 1rem;
    color: #5a5a5a;
    text-align: center;
    line-height: 2.5rem;
}

.vetted-professionals i {
    font-size: 55px;
}

.vetted-professionals span {
    color: #00cdf1;
    cursor: pointer;
}

.vetted-professionals span:hover {
    color: #06b3d6;
}

/* Additional style for Find Professionals page */

#findProfessionals{
    background-image: none;
    background-color: white;
}

.backImage {
    background-image: url("../images/professionalsBackground3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 20rem;
}

select {
    z-index: 1;
    max-width: 100%;
    padding: 1rem 3rem;
}

#findProfessionals .flex-container h1 {
    width: 100%;
    text-align: center;
    margin: 2.5rem auto;
    font-size: 27px;
}

#findProfessionals main .flex-container .allServices {
    width: 27%;
    text-align: center;
}
#findProfessionals main .flex-container .allServices .dropdown {
    max-width: 100%;
}
#findProfessionals main .flex-container .allServices a {
    background-color: #f4f4f4;
    box-shadow: none;
    display: block;
    max-width: 100%;
    margin: 0.1rem auto;
    transform: none;
    font-size: 20px;
}

#findProfessionals main .flex-container .allServices a:hover {
    transform: scaleX(1.1);
    cursor: pointer;
}

#findProfessionals main .flex-container .displayProfessionals {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#findProfessionals main .dropdown {
    position: relative;
    margin-bottom: 1rem;
}

#findProfessionals main .dropdown-content {
    display: none;
    box-shadow: 3px 3px 3px 2px #ccc;
    max-width: 100%;
    z-index: 1;
    margin-top: 0;
    padding: 0.5rem;
}

#findProfessionals main .dropdown:hover .dropdown-content {
    display: block;
    transition: 5s;
}

/**** Animation for team members ****/
@keyframes member-photo {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

/****** Responsive design ******/

@media (max-width: 1500px) {
    .user-steps {
        width: 65%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .user-steps {
        width: unset;
        margin: unset;
    }
}

@media (max-width: 600px) {
    .popular-services {
        flex-wrap: wrap;
    }

    .popular-services a {
        max-width: calc(50% - 0.5rem);
        margin: 0.5rem 0;
        transition: none;
    }

    .popular-services a:hover {
        transform: none;
    }

    .popular-services a:nth-child(odd) {
        margin-right: 0.5rem;
    }
    .popular-services a:nth-child(even) {
        margin-left: 0.5rem;
    }

    .user-steps .step-description {
        display: block;
        /*justify-content: space-evenly;*/
    }

    .user-steps .step-description h1 {
        margin-right: 0;
        display: inline-block;
    }

    .user-steps .step-description div {
        float: right;
        display: inline-block;
        width: 80%;
        text-align: justify;
        margin-right: 0.5rem;
    }

    .step-description h1 {
        margin: 0;
    }

    .step-description img {
        margin-top: 2rem;
        min-width: 100%;
    }

    .user-steps div img:hover {
        box-shadow: none;
    }

    .team-section .team-member {
        flex-direction: column;
    }

    .team-section .team-member div {
        padding-top: 2rem;
        width: unset;
    }

    .our-story {
        display: block;
        padding: 2rem 1rem;
    }

    .our-story div {
        width: 100%;
        text-align: justify;
    }

    .our-story div h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .our-story #rotate-left{
        transform: rotate(0deg);
        max-width: 100%;
        box-sizing: border-box;
        margin-top: 1.5rem;
    }

    .our-story #rotate-right{
        display: none;
    }
}
