* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.flex-container { display: flex; }

/* Professional user profile */

.user {
    background-image: linear-gradient(to right, #003164, dodgerblue);
    align-items: center;
    line-height: 1.5rem;
    padding: 2rem;
    color:white;
}

.user img {
    max-width: 180px;
    border-radius: 50%;
}

.user div { margin-left: 2rem; }

.about {
    background-color: white;
    padding: 2rem;
}

.about h4 { padding-bottom: 1rem; }
.about p { padding-bottom: 2rem; }

main {
    padding-top: 3rem;
    padding-bottom: 15rem;
}

.shadow { box-shadow: 5px 5px 5px #999999; }

/* Professional user requests*/

table, th, td { border-collapse: collapse; }
table { width: 100%; }

th {
    background-color: darkblue;
    color: white;
}

th, td {
    padding: 1rem;
    margin: 1rem;
}

td {
    text-align: center;
    width: 33%;
}

table tr:nth-child(odd) { background-color: dodgerblue; }
table tr:nth-child(even) { background-color: lightblue; }

main h2 {
    color: #333333;
    margin-bottom: 1rem;
}

td a {
    display: inline-block;
    min-width: 20%;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

td a:nth-child(odd) {
    background-color: #4dbc15;
    margin-right: 0.5rem;
}

td a:nth-child(even) {
    background-color: #ca3433;
    margin-left: 0.5rem;
}

td a:nth-child(even):hover { background-color: #b22222; }
td a:nth-child(odd):hover { background-color: #44a512; }

/* Form */

.request-box {
    margin-top: 2rem;
    padding: 2rem;
    background: rgb(30,144,255);
    background: linear-gradient(0deg, rgba(30,144,255,1) 15%, rgba(9,76,143,1) 100%);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

form div input, select {
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    box-sizing: border-box;
}

form div input:last-child, select:last-child { margin-right: 0; }

form p {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;
}

input, textarea, button, select{
    font-family:inherit;
    font-size: inherit;
    border-radius: 0.313rem;
}

input, textarea, select {
    background-color: #f4f4f4;
    border: 0;
    padding: 1rem;
    margin-bottom: 2rem;
}

textarea { resize: none; }

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    box-sizing:border-box;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: #4dbc15;
    color: white;
    font-weight: bold;
    width: 100%;
}

button:hover { background-color: #44a512; }

label {
    padding-bottom: 1rem;
    color: white;
}

label span { color: #DC143C; }

/* Footer */

footer {
    width: 100%;
    min-height: 11rem;
    background-color: #1d1d1d;
    position: absolute;
    bottom: 0;
}

#inner-footer {
    max-width: 75rem;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

#social-media {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#social-media p { color: lightgray; }

#social-media a {
    color: lightgray;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    border-radius: 1.75rem;
    border: 1px solid lightgray;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.5rem;
    margin-left: 2rem;
}

#contact {
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact a {
    margin-right: 1rem;
    color: lightgray;
    text-decoration: none;
}

#contact p { color: #f4f4f4; }