* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.flex-container { display: flex; }

/* Professional user profile */

.user {
    background-image: linear-gradient(to right, #003164, dodgerblue);
    align-items: center;
    line-height: 1.5rem;
    padding: 2rem;
    color:white;
}

.user img {
    object-fit: cover;
    object-position: center center;
    width: 180px;
    height: 180px;

    border-radius: 50%;
}

.user #username {
    color: white;
    margin-bottom: 0.5rem;
}
.user div { margin-left: 2rem; }

.about {
    background-color: white;
    padding: 2rem;
}

.about h4 { padding-bottom: 1rem; }
.about p { padding-bottom: 2rem; }

main {
    padding: 3rem 1rem 15rem 1rem;
}

.shadow { box-shadow: 5px 5px 5px #999999; }

#price {
    text-align: center;
    margin-top: 2rem;
    display: none;
    transition: 2s;
    width: 100%;
}

/* Professional user requests*/

main #sentRequests {
    margin-top: 2rem;
}

table, th, td { border-collapse: collapse; }
table { width: 100%; }

th {
    background-color: darkblue;
    color: white;
}

th, td {
    padding: 1rem;
    margin: 1rem;
}

td {
    text-align: center;
}

table tr:nth-child(odd) { background-color: dodgerblue; }
table tr:nth-child(even) { background-color: lightblue; }

main h2 {
    color: #333333;
    margin-bottom: 1rem;
}

td a {
    display: inline-block;
    min-width: 20%;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

td a:nth-child(odd) {
    background-color: #4dbc15;
    margin-right: 0.5rem;
}

td a:nth-child(even) {
    background-color: #ca3433;
    margin-left: 0.5rem;
}

td a:nth-child(even):hover { background-color: #b22222; }
td a:nth-child(odd):hover { background-color: #44a512; }

/* Form */

.request-box form {
    flex-wrap: wrap;
    justify-content: space-between;
}

.request-box {
    margin-top: 2rem;
    padding: 2rem;
    background: rgb(30,144,255);
    background: linear-gradient(0deg, rgba(30,144,255,1) 15%, rgba(9,76,143,1) 100%);
}

.request-box p {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;
}

form > div {
    width: 50%;
}

.description {
    flex-direction: column;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

.request-details {
    flex-direction: column;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.request-details div input, select {
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    box-sizing: border-box;
}

form div input:last-child, select:last-child { margin-right: 0; }

input, textarea, button, select{
    font-family:inherit;
    font-size: inherit;
    border-radius: 0.313rem;
}

input, textarea, select {
    background-color: #f4f4f4;
    border: 0;
    padding: 1rem;
    margin-bottom: 2rem;
}

textarea { resize: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button, #get-price {
    margin: 0 auto;
    box-sizing:border-box;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: #4dbc15;
    color: white;
    font-weight: bold;
    width: 25%;
    text-align: center;
}

button:hover { background-color: #44a512; }

label {
    padding-bottom: 1rem;
    color: white;
}

label span { color: #DC143C; }

#submit-box {
    width: 100%;
}

/***** Area categories *****/
.areas_categories div {
    margin-right: 3rem;
    line-height: 1.5rem;
}

.areas_categories ul {
    list-style: none;
}

.areas_categories li::before {
    content: "\2726";
    color: #8e040a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/***** Comments section ******/

.comments_section {
    background-color: white;
    margin-top: 2.5rem;
    padding: 1rem;
    color: rgba(61, 55, 55, 0.95);
}
.comments_section .comment div {
    padding-bottom: 2rem;
    font-style: italic;
}

.comments_section .comment {
    margin-top: 1.5rem;
    line-height: 1.5;
    background-color: rgba(192, 192, 192, 0.25);
    padding: 1.5rem 2.5rem;
    box-shadow: 3px 3px 3px rgba(153, 153, 153, 0.68);
}

.comments_section .comment p {
    text-indent: 40px;
    text-align: justify;
    font-size: 20px;
}

.no_comment p {
    color: #3d4548;
    text-align: center;
}

/* Requests page */
.rating_click {
    background-color: unset;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.82);
}

.rating_area #submit_button {
    width: 100%;
    margin-bottom: 2rem;
}

.rating_area td {
}
.rating_area textarea {
    height: 70px;

}
.rating_area select {
    width: 100%;
}
.review_table {
    border: 0.01rem solid lightblue;
}
.review_header {
    background-color: lightblue !important;
}
.requests {
    color: rgba(0, 0, 0, 0.82);
}

/****** Responsive design ******/

@media (max-width: 800px) {
    .request-box {
        margin-bottom: 5rem;
    }
    .about {
        margin-bottom: 5rem;
    }
}

@media (max-width: 600px) {
    .user {
        flex-direction: column;
    }

    .user div {
        padding-top: 2rem;
        text-align: center;
        margin: 0;
    }

    .request-box form {
        flex-direction: column;
    }

    form > div {
        width: 100%;
    }

    .description {
        padding-left: 0;
    }

    .request-details {
        padding-right: 0;
    }

    textarea {
        height: 10rem;
    }

    #requests td a:nth-child(odd) {
        margin-right: 0 !important;
        width: 100%;
    }
    #requests td a:nth-child(even) {
        margin-left: 0 !important;
        margin-top: 0.3rem;
        width: 100%;
    }
    #requests td a {
        padding: 5px;
    }
    .sent-requests {
        margin-bottom: 4rem;
    }
}