* {
    margin: 0;
    padding: 0;
    color: #343a40;
}

body {
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.flex-container { display: flex; }

/* Professional user profile */

.user {
    background-image: linear-gradient(to right, #003164, dodgerblue);
    align-items: center;
    line-height: 1.5rem;
    padding: 2rem;
    color:white;
}

.user img {
    object-fit: cover;
    object-position: center center;
    width: 180px;
    height: 180px;

    border-radius: 50%;
}

.user #username {
    color: white;
    margin-bottom: 0.5rem;
}
.user div { margin-left: 2rem; }

.about {
    background-color: white;
    padding: 2rem;
}

main {
    padding: 3rem 1rem 15rem 1rem;
}

.shadow { box-shadow: 5px 5px 5px #999999; }

#price {
    text-align: center;
    margin-top: 2rem;
    display: none;
    transition: 2s;
    width: 100%;
}

/* Professional user requests*/

table, th, td { border-collapse: collapse; }
table { width: 100%; }

th {
    background-color: #7579e7;
    color: #f4f4f4;
    font-weight: bolder;
}

th, td {
    padding: 1rem;
    margin: 1rem;
}

td {
    text-align: center;
}

table tr:nth-child(odd) { background-color: #a3d8f4; }
table tr:nth-child(even) { background-color: #9ab3f5; }

main h2 {
    /*color: #333333;*/
    font-size: 24px;
    margin-bottom: 1rem;
}

td a {
    color: #343a40;
    text-decoration: underline;
}

/***** Area categories *****/
.areas_categories div {
    margin-right: 3rem;
    line-height: 1.5rem;
}

.areas_categories ul {
    list-style: none;
}

.areas_categories li::before {
    content: "\2726";
    color: #8e040a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/***** Comments section ******/

.comments_section {
    background-color: white;
    margin-top: 2.5rem;
    padding: 1rem;
    color: rgba(61, 55, 55, 0.95);
}
.comments_section .comment div {
    padding-bottom: 2rem;
    font-style: italic;
}

.comments_section .comment {
    margin-top: 1.5rem;
    line-height: 1.5;
    background-color: rgba(192, 192, 192, 0.25);
    padding: 1.5rem 2.5rem;
    box-shadow: 3px 3px 3px rgba(153, 153, 153, 0.68);
}

.comments_section .comment p {
    text-indent: 40px;
    text-align: justify;
    font-size: 20px;
}

.no_comment p {
    color: #3d4548;
    text-align: center;
}

/* Requests page */
.rating_click {
    background-color: unset;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.82);
}

.rating_area #submit_button {
    width: 100%;
    margin-bottom: 2rem;
}

.rating_area td {
}
.rating_area textarea {
    height: 70px;

}
.rating_area select {
    width: 100%;
}
.review_table {
    border: 0.01rem solid lightblue;
}
.review_header {
    background-color: lightblue !important;
}
.requests {
    color: rgba(0, 0, 0, 0.82);
}

.mobile { visibility:hidden; }

/****** Responsive design ******/

@media (max-width: 800px) {
    .about {
        margin-bottom: 5rem;
    }
    .sent-requests {
        margin-bottom: 4rem;
    }
    .desktop { display: none; }
    .mobile {
        visibility: visible;
    }
}

@media (max-width: 600px) {
    .user {
        flex-direction: column;
    }

    .user div {
        padding-top: 2rem;
        text-align: center;
        margin: 0;
    }

    .request-details {
        padding-right: 0;
    }

    #requests td a:nth-child(odd) {
        margin-right: 0 !important;
        width: 100%;
    }
    #requests td a:nth-child(even) {
        margin-left: 0 !important;
        margin-top: 0.3rem;
        width: 100%;
    }
    #requests td a {
        padding: 5px;
    }

    .comments_section {
        margin-bottom: 5rem;
    }
}


input, textarea, button, select{
    font-family:inherit;
    font-size: inherit;
    border-radius: 0.313rem;
}

input, textarea, select {
    background-color: #f4f4f4;
    border: 0;
    padding: 1rem;
    margin-bottom: 2rem;
}

textarea { resize: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}