/* css for professionals' registration page */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
    font-size: 18px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#header{
    background: rgba(48, 26, 13, 0.6);
    transform: skewY(-5deg);
    margin-top: -55px;
    padding: 40px 0 60px;
    width: 100%;
}

header {
    transform: skewY(5deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70%;
    margin: 40px auto 0;
    text-shadow: 0 2px 3px #222;
}

header a {
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0 2px 3px #222;
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 15px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.73);
    border-right: 1px solid rgba(255, 255, 255, 0.73);
    border-left: 1px solid rgba(255, 255, 255, 0.73);
    font-size: 25px;
    border-radius:8px;
    cursor:pointer;
    color: white;
}

#header nav a:hover {
    background-color: rgba(255, 255, 255, 0.87);
    border: none;
    color: #4d3534;
    text-shadow: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
#header hr{
    margin: 0 35px;
    padding: 0;
    transform: skewY(5deg);
}

#login main {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 11rem;
}

main .backShape{
    transform: skewY(-5deg);
    background: rgba(48, 26, 13, 0.6);
    width: 100%;
    height: 450px;
    margin: -15px 0;
}

.textBlockForProfessionals{
    transform: skewY(5deg);
    width: 70%;
    padding: 0;
    margin: 0 auto;
    font-size: 25px;
    color: white;
    text-align: center;
    text-shadow: 0 2px 3px #222;
}

.textBlockForProfessionals h3, .textBlockForProfessionals h4 {
    font-size: 30px;
    margin: 15px;
}

main .registrationWrapper {
    background-color: rgb(245, 245, 245);
    transform: skewY(-5deg);
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

main #signUp {
    text-align: center;
    margin: -10px auto 20px;
}
main .registrationBlockLeft, main .registrationBlockRight {
    display: block;
    width: 45%;
    margin: 0 auto;
}

.registrationBlockLeft, .verticalLine, .registrationBlockRight {
    transform: skewY(5deg);
}

main .verticalLine {
    border-style: inset;
    height: 80%;
    border-left: 2px solid rgb(48, 26, 13);
    margin-block-start: 4em;
    overflow: hidden;
    margin-block-end: 0.5em;
}

.buttonStyle {
    box-shadow:inset 0 10px 14px -7px #a6827e;
    background: #7d5d3b linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0 1px 0 #4d3534;
}

.buttonStyle:hover {
    background: #634b30 linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
}

.buttonStyle:active {
    position:relative;
    top:1px;
}

input[type="text"], input[type="email"], input[type="number"], select,
input[type="password"], #dropdown1, #dropdown2, textarea, .checkbox {
    width: 230px;
    border: 1px solid #4d3534;
    border-left: 4px solid #4d3534;
    background-color: rgba(245, 245, 245, 0.58);
    padding: 10px;
    margin: 10px 20px 10px 0;
    border-radius: 8px;
    height: 35px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.checkboxWrapper, .acceptedCards, .dateAndCvv, .loginFields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkboxWrapper div {
    width: 40%;
    margin: 10px 35px 10px 0;
}
.checkboxWrapper .checkbox {
    height: 130px !important;
    width: 95% !important;
    overflow: auto;

}
form .checkboxWrapper #city-checkbox {
    height: 75px !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d3534;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d3534;
}

.title {
    margin: 40px auto 0;
    text-align: center;

}
.acceptedCards div {
    width: 50%;
    margin-left: 30px;
}

.card-number {
    width: 90% !important;
}
.dateAndCvv div {
    width: 30% !important;
}
.dateAndCvv div select, .dateAndCvv div input {
    width: 90%;
}
.dateAndCvv div {
    margin-right: 10px;
}
.submission {
    margin: 30px auto;
    text-align: center;
}
.submission p, #signInBlock h4 {
    margin-bottom: 20px;
    font-weight: bolder;
}
#signInBlock {
    width: 100%;
    height: 250px;
    position: relative;
    bottom: 60px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding-top: 40px;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}
/* end of professionals' registration page */

/* Additional styling for become-pro page */
#become-pro .verticalLine {
    height: 60%;
    margin-top: 4rem;
}

#become-pro main .registrationWrapper {
    align-items: flex-start;
    height: 650px;
    margin: 0 auto -6rem;
}

#become-pro main .registrationBlockLeft, #become-pro main .registrationBlockRight {
    margin: 2rem auto 1rem;
}

#become-pro footer {
    bottom: unset;
}

/* Responsive */

@media (min-width: 1500px) {

}

@media (max-width: 600px) {
    header h1 {
        display: none;
    }
    header nav {
        display: block;
        margin: 0.2rem auto 0.5rem;
    }
    main .backShape {
        height: 600px;
    }
    main .textBlockForProfessionals {
        width: 100%;

    }
    main .textBlockForProfessionals p {
        margin: 0 0.5rem;
    }
    main .registrationWrapper {
        display: block;
        height: 100%;
        margin: 2.5rem auto 3.5rem;
    }
    main .registrationWrapper .registrationBlockRight, main .registrationWrapper .registrationBlockLeft {
        width: 80%;
    }
    main #signUp {
        padding-top: 1rem;
    }
    main form div {
        display: block !important;
    }
    main form div > div {
        width: 80% !important;
    }
    main .registrationWrapper .verticalLine {
        width: 80%;
        margin: 1rem auto;
    }
    .registrationBlockRight .title {
        margin-top: 6rem;
    }
    .registrationBlockRight .acceptedCards {
        display: block;
        text-align: center;
    }
    .registrationBlockRight .acceptedCards div {
        margin: 0.3rem auto;
    }
    .registrationWrapper .submission {
        padding-bottom: 3rem;
    }
    main #signInBlock {
        bottom: 75px;
        margin-bottom: -3rem;
    }

    /* become pro page */
    #become-pro main .registrationWrapper {
        height: 100%;
        margin-bottom: -23rem;
        margin-top: -2rem;
    }
}