/* login background */
#login_body {
    background-image: linear-gradient( to bottom, #023161, #DAD299, rgb(36, 11, 54));
}

.areas_categories div {
   margin-right: 3rem;
    line-height: 1.5rem;
}

.areas_categories ul {
    list-style: none;
}

.areas_categories li::before {
    content: "\2726";
    color: #8e040a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}