/* Profile page */
.comments_section {
    background-color: white;
    margin-top: 2.5rem;
    padding: 1rem;
    color: rgba(61, 55, 55, 0.95);
}
.comments_section .comment div {
    padding-bottom: 2rem;
    font-style: italic;
}

.comments_section .comment {
    margin-top: 1.5rem;
    line-height: 1.5;
    background-color: rgba(192, 192, 192, 0.25);
    padding: 1.5rem 2.5rem;
    box-shadow: 3px 3px 3px rgba(153, 153, 153, 0.68);
}

.comments_section .comment p {
    text-indent: 40px;
    text-align: justify;
    font-size: 20px;
}

.no_comment p {
    color: #3d4548;
    text-align: center;
}

/* Find Professionals page */
.rating_pro {
    margin: 1rem 0.5rem;
    text-align: center;
    font-style: italic;
}
.displayProfessionals h4 {
    margin: 0.7rem 1rem -0.5rem;
    font-weight: unset;
}

.allServices h1 {
    margin-bottom: 2rem;
}

.displayProfessionals a {
    color: #353b3e;
}

/* Requests page */
.rating_click {
    background-color: unset;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.82);
}

.rating_area #submit_button {
    width: 100%;
    margin-bottom: 2rem;
}

.rating_area td {
}
.rating_area textarea {
    height: 70px;

}
.rating_area select {
    width: 100%;
}
.review_table {
    border: 0.01rem solid lightblue;
}
.review_header {
    background-color: lightblue !important;
}
.requests {
    color: rgba(0, 0, 0, 0.82);
}