.user-steps {
    width: 65%;
    margin: 0 auto;
}

.user-steps div img:hover::before {
    transform: scale(1.2);
    box-shadow: 0 0 35px #f2ae00;
}

.user-steps div img:hover {
    color: #ffee10;
    box-shadow: 0 0 35px #f2ae00;
}

#services .dropdown {
    margin-left: 20px;
}
#services .dropdown i {
    transition: all 0.15s ease-in-out;
}

#services .dropdown:hover i {
    transform: rotate(90deg);
}

/* Dropdown menu */

nav .dropdown {
    position: relative;
    max-width: 100%;
}
nav .dropdown-content {
    position: absolute;
    display: none;
    max-width: 100%;
}

nav .dropdown:hover .dropdown-content {
    display: flex;
    z-index: 2;
    left: -11px;
    max-width: 100%;
    top: calc(100%);
    background-color: white;
}
nav .dropdown:hover .dropdown-link {
    padding-bottom: 2rem;
}
nav .dropdown:hover .dropdown-content a {
    margin: 1.2rem 0 1rem 0;
    color: dimgray;
    display: block;
    padding: 0.2rem 2rem;
}

nav .dropdown:hover .dropdown-content a:hover {
    color: black;
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
    position: relative;
}
