#login {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("loginBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

#header{
    background: rgba(48, 26, 13, 0.6);
    transform: skewY(-5deg);
    margin-top: -55px;
    padding: 40px 0 60px;
    width: 100%;
}
header {
    transform: skewY(5deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70%;
    margin: 40px auto 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 15px;
    font-size: 17px;
    padding: 15px;
    border-radius: 5px;
    border-left: 6px solid white;
    background-color: rgb(75, 40, 17);
}
h1{
    text-align: center;
}

label {
    display: inline-block;
    width: 30%;
    padding: 50px;
}
main .backShape{
    transform: skewY(-5deg);
    background: rgba(48, 26, 13, 0.6);
    width: 100%;
    height: 60%;
    margin: -4.9px 0;
}
hr{
    margin: 0 35px;
    padding: 0;
    transform: skewY(5deg);
}
.textBlockForProfessionals{
    transform: skewY(5deg);
    width: 70%;
    padding: 0;
    margin: 0 auto;
    font-size: 15px;
    color: #dddddd;
    text-align: center;
}
.textBlockForProfessionals h3, .textBlockForProfessionals h4 {
    font-size: 25px;
    margin: 5px;
}
main .registrationBlock {
    transform: skewY(-5deg);
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(197, 197, 197, 0.9);
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.registrationBlock > h1, .registrationBlock > div, .registrationBlock > p{
    transform: skewY(5deg);
}
.registrationBlock h1{
    width: 100%;
}
.registrationBlock div{
    width: 50%;
}
main {
    display: block;
    width: 100%;
    height: 100%;
}

input {
    width: 40%;
    background: #f1f1f1;

}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerButton {
    background-color: #5e3a11;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    margin: 20px auto;
}

.registerButton:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}



