* {
    margin: 0;
    padding: 0;
}

.center {
    max-width: 75rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', serif;
}

header {
    background-color: white;
}

.inner-header {
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.15s ease-in;
}

main {
    padding: 3rem 0;
}

h2 {
    padding-bottom: 1rem;
}

.tables {
    width: 30%;
    flex-direction: column;
}

.tables a {
    color: grey;
    padding: 1rem;
}
.tables a:hover {
    color: black;
}

.rows {
    padding: 1rem;
}

table {
    border-bottom: 2px solid grey;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1rem;
}

table th {
    text-align: start;
}

table a:hover {
    color: #57b846;
}

#stay {
    color: black;
}

#filter_block {
    display: block;
    width: 150%;
}

#display_services, #display_cities {
    display: none;
}
#work_offers .tables a {
    width: 100%;
}

#admin .flex-container div .flex-container a {
    width: 25%;
    justify-content: flex-end;
    font-size: 20px;
}
#admin .flex-container div .flex-container div {
    width: 65%;
    line-height: 1.8;
}
#admin .flex-container div .flex-container {
    margin: 2rem 1rem;
    border-bottom: 1px solid grey;
    padding: 1rem;
}
#admin ul {
    list-style: none;
}

#admin li::before {
    content: "\2726";
    color: #8e040a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
#admin #title {
    text-align: center;
    margin: 1.5rem 1.5rem 1.5rem 6rem;
}
#admin h2 {
    font-weight: unset;
}
.flex-container .report-view {
    margin-left: 5rem;
}
.report-view .flex-container:first-child {
    width: 120%;
}

.report-view table th, .report-view td {
    text-align: center;
}
.rows table th, .rows table td, #payments .report-view table th, #payments .report-view table td {
    width: 100%;
    padding: 0.5rem 0.2rem;
}

.tables a{
    width: 100%;
}
.flex-container .rows table {
    border: none !important;
}

#add_service div, #update_service .rows div {
    text-align: center;
    display: flex;
}
#add_service label, #update_service .rows label {
    width: 50%;
    text-align: right;
    margin-right: 1.5rem;
}

#add_service button, #update_service .rows button {
    margin: 1rem auto 2rem;
}

#update_service .rows {
    width: 45%;
}

h4 {
    margin-left: 2.8rem;
}

.flex-container .report-view hr {
    margin-left: 2rem;
}

#cities #add_city {
    padding: 2rem;
}

input {
    background: #e6e6e6;
    border-radius: 10px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2em;
    color: #333333;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button, .report-view a {
    margin: 1rem 0;
    color: black;
    background: rgba(51, 51, 51, 0.16);
    padding: 0.2rem 15px;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.25s ease-in;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-color: rgba(51, 51, 51, 0.16);
}

button:hover, .report-view a:hover {
    background-color: rgba(87, 184, 70, 0.77);
}

#work_offers .rows table th, #work_offers .rows table td {
    width: unset !important;
    box-sizing: border-box !important;
    padding: 0.5rem 0 !important;
}

#work_offers .report-view .rows table {
    border-bottom: 2px solid grey !important;
    margin-bottom: 2.5rem !important;
}

#work_offers select, #users select {
    height: 30px;
    width: 150px;
    margin: 1rem 0;
    border-radius: 5px;
    border-color: rgba(51, 51, 51, 0.16);
}

#work_offers #services_cities {
    margin-top: 2.5rem;
}

#work_offers #services_cities table tr td, #work_offers #services_cities table tr th {
    padding: 0.5rem 0.2rem;
}

#users button {
    margin: 0.2rem 0;
}
#users .rows table th, #users .rows table td {
    padding: 0.2rem;
}
#payments form p, .report-view p {
    font-size: 18px;
    color: #25363d;
    text-align: center;
}
#payments form {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}
#payments .tables {
    width: unset !important;
}